numpy
pandas
scipy
pyyaml
python-dotenv
matplotlib
seaborn
plotly
statsmodels
pmdarima
scikit-learn
prophet
streamlit
tqdm
loguru


pytest
pytest-cov
black
isort
flake8
mypy
pre-commit
jupyter
ipykernel


mkdocs
mkdocs-material
